# ANOVA

In [6]:
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [7]:
# Importar Dataset como dataframe de pandas
df = pd.read_csv("../Data/stroke_data.csv")

#tutor
# df = pd.read_csv("stroke_data.csv")

df.shape

(5110, 11)

In [8]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,67.0,0,1,0,0,0,228.69,36.6,0,1
1,1,61.0,0,0,0,1,1,202.21,30.5,1,1
2,0,80.0,0,1,0,0,1,105.92,32.5,1,1
3,1,49.0,0,0,0,0,0,171.23,34.4,2,1
4,1,79.0,1,0,0,1,1,174.12,24.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,1,80.0,1,0,0,0,0,83.75,26.8,1,0
5106,1,81.0,0,0,0,1,0,125.20,40.0,1,0
5107,1,35.0,0,0,0,1,1,82.99,30.6,1,0
5108,0,51.0,0,0,0,0,1,166.29,25.6,0,0
5109,1,44.0,0,0,0,2,0,85.28,26.2,3,0

In [9]:
# Lista de variables numéricas
numeric_vars = ['age', 'avg_glucose_level', 'bmi']

# Iterar sobre cada variable numérica y realizar ANOVA
for var in numeric_vars:
    model = ols(f'{var} ~ C(stroke)', data=df).fit()
    anova_table = sm.stats.anova_lm(model, typ=2)
    print(f'\nANOVA para {var} con respecto a stroke:')
    print(anova_table)

ANOVA para age con respecto a stroke:
                 sum_sq      df           F        PR(>F)
C(stroke)  1.571386e+05     1.0  326.916568  7.030778e-71
Residual   2.455256e+06  5108.0         NaN           NaN

ANOVA para avg_glucose_level con respecto a stroke:
                 sum_sq      df         F        PR(>F)
C(stroke)  1.823920e+05     1.0  90.50387  2.767811e-21
Residual   1.029413e+07  5108.0       NaN           NaN

ANOVA para bmi con respecto a stroke:
                  sum_sq      df         F    PR(>F)
C(stroke)     490.188541     1.0  8.100685  0.004442
Residual   309095.225032  5108.0       NaN       NaN

In [10]:
# Lista de variables categóricas (excluyendo 'stroke')
categorical_vars = ['gender', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']

# Iterar sobre cada variable categórica y realizar la prueba de chi-cuadrado
for var in categorical_vars:
    contingency_table = pd.crosstab(df[var], df['stroke'])
    chi2, p, dof, expected = stats.chi2_contingency(contingency_table)
    
    print(f'\nChi-cuadrado para {var} con respecto a stroke:')
    print(f'Estadístico Chi-cuadrado: {chi2}')
    print(f'Grados de libertad: {dof}')
    print(f'Valor p: {p}')
    
    if p < 0.05:
        print(f'Hay una asociación significativa entre {var} y stroke')
    else:
        print(f'No hay una asociación significativa entre {var} y stroke')

Chi-cuadrado para gender con respecto a stroke:
Estadístico Chi-cuadrado: 0.47258662884530234
Grados de libertad: 2
Valor p: 0.7895490538408245
No hay una asociación significativa entre gender y stroke

Chi-cuadrado para hypertension con respecto a stroke:
Estadístico Chi-cuadrado: 81.6053682482931
Grados de libertad: 1
Valor p: 1.661621901511823e-19
Hay una asociación significativa entre hypertension y stroke

Chi-cuadrado para heart_disease con respecto a stroke:
Estadístico Chi-cuadrado: 90.25956125843324
Grados de libertad: 1
Valor p: 2.0887845685229236e-21
Hay una asociación significativa entre heart_disease y stroke

Chi-cuadrado para ever_married con respecto a stroke:
Estadístico Chi-cuadrado: 58.923890259034195
Grados de libertad: 1
Valor p: 1.6389021142314745e-14
Hay una asociación significativa entre ever_married y stroke

Chi-cuadrado para work_type con respecto a stroke:
Estadístico Chi-cuadrado: 49.163511976675295
Grados de libertad: 4
Valor p: 5.397707801896119e-10
Hay una asociación significativa entre work_type y stroke

Chi-cuadrado para Residence_type con respecto a stroke:
Estadístico Chi-cuadrado: 1.0816367471627524
Grados de libertad: 1
Valor p: 0.29833169286876987
No hay una asociación significativa entre Residence_type y stroke

Chi-cuadrado para smoking_status con respecto a stroke:
Estadístico Chi-cuadrado: 29.147269191399264
Grados de libertad: 3
Valor p: 2.0853997025008455e-06
Hay una asociación significativa entre smoking_status y stroke